        <!-- ***************************************************** -->
        <!-- OPENING SEQUENCES -->
        <!-- ***************************************************** -->
            <!-- BLANK SCENE IS USED TO GIVE AUDIO FILE A CHANCE TO LOAD -->
            <li id="jaguar" data-scene='{
              "type":"cutscene",
                "music":"jaguar", 
                "display_time":"150", 
                "loop_music":false, 
                "background":"blank",
                "speed":"100,100"}'></li>
            
            <li id="jaguar" data-scene='{
              "type":"cutscene",
                "music":"jaguar", 
                "display_time":"2500", 
                "loop_music":false, 
                "background":"opener",
              "subtitle":"Jaguar presents",
                "subtitle_pos":"middle",
                "subtitle_size":"32",
                "subtitle_speed":"800,0",
                "subtitle_color":"#FFFFFF",
                "speed":"700,500"}'></li>
                
            <!-- BLANK SCENE IS USED TO GIVE AUDIO FILE A CHANCE TO LOAD 
            <li id="jaguar" data-scene='{
              "type":"cutscene",
                "music":"intro", 
                "display_time":"500", 
                "loop_music":false, 
                "background":"blank",
                "speed":"100,100"}'></li>                
                
            <li id="production" data-scene='{
              "type":"cutscene", 
                "music":"intro", 
                "display_time":"3100",
                "speed":"1500,1500",  
                "background":"blank",
        "subtitle":"a Crusader12 production",
                "subtitle_speed":"1500,3200",
                "subtitle_color":"#FFFFFF",
                "subtitle_pos":"bottom", 
                "subtitle_size":16}'></li>   
                
            <li id="title_1" data-scene='{
              "type":"cutscene", 
                "music":"intro", 
                "display_time":"2700",
                "speed":"1500,1500", 
                "background":"title_1",
        "subtitle":"Hidden deep in <br/>thousands of CodeCanyon files...", 
                "subtitle_speed":"2000,1800", 
                "subtitle_size":"32",
                "subtitle_color":"#FFFFFF",
                "subtitle_pos":"middle"}'></li>  
                 
            <li id="title_2" data-scene='{
              "type":"cutscene", 
                "music":"intro", 
                "display_time":"2830", 
                "speed":"1500,1500", 
                "background":"title_2",
        "subtitle":"Jaguar is waiting...",
                "subtitle_pos":"middle",
                "subtitle_size":"32",
                "subtitle_speed":"2000,1800",
                "subtitle_color":"#FFFFFF"}'></li>  
                 
            <li id="title_3" data-scene='{
              "type":"cutscene", 
                "music":"intro", 
                "display_time":"2830",
                "speed":"1400,1400", 
                "background":"title_3",
        "subtitle":"to bring back classic adventures...",
                "subtitle_size":"32",
                "subtitle_pos":"bottom",
                "subtitle_speed":"2000,1800",
                "subtitle_color":"#FFFFFF"}'></li>
                
            <li id="title_4" data-scene='{
              "type":"cutscene", 
                "music":"intro", 
                "display_time":"2830",
                "speed":"1500,1500", 
                "background":"title_4",
        "subtitle":"and unleash new ones",
                "subtitle_pos":"middle",
                "subtitle_size":"32",
                "subtitle_speed":"2000,1800",
                "subtitle_color":"#FFFFFF"}'></li> 
                                
            <li id="titlescreen" data-scene='{
              "type":"cutscene", 
                "music":"intro", 
                "allow_click":true, 
                "speed":"220,250", 
                "background":"title",
              "subtitle":"click to begin",
                "subtitle_pos":"bottom",
                "subtitle_speed":"3000,0",
                "subtitle_color":"#FFFFFF"}'></li>
                
            <li id="filler" data-scene='{
              "type":"cutscene", 
                "music":"intro2", 
                "display_time":"5500",
                "speed":"1500,1500",
                "background":"blank", 
                "subtitle_size":17,
        "subtitle":"This entire demo is built using only 3 simple HTML tags.<br>It is under 400 lines of HTML and 40 lines of basic CSS.",
                "subtitle_speed":"2000,5200",
                "subtitle_color":"#00d2ff",
                "subtitle_pos":"middle"}'></li> 

            <li id="filler3" data-scene='{
              "type":"cutscene", 
                "music":"intro2", 
                "display_time":"6000",
                "speed":"1400,1500",
                "background":"blank", 
                "subtitle_size":17,
        "subtitle":"Graphics and Sprites from Monkey Island 2 <br/> are for demonstration purposes only.",
                "subtitle_speed":"2000,5000",
                "subtitle_color":"#00d2ff",
                "subtitle_pos":"middle"}'></li>
-->