        <!-- **************************************************** -->
        <!-- SCENE 5 [ BEACH ] --> 
        <!-- **************************************************** -->                       
        <li id="scene5" data-scene='{
              "foreground":"3_foreground", 
                "horizon":"50,100",
                "music":"beach",
                "background":"5"}'>
                
                <!-- MAIN CHARACTER -->
              <div class="JAG_Char" data-character='{
                  "scale":"0.05,0.15", 
                    "pos":"10,75", 
                    "speed":15000
        }'></div> 
                
                <!-- BANANA -->
                <div class="JAG_Item" data-item='{
          "type":"object", 
                    "pos":"60,80", 
                    "text":"banana", 
                    "proximity":50,
                  "image":"banana", 
                    "scale":"0.1", 
                    "pick_up":[ ["say:I&apos;m not hungry, so I&apos;ll save this for later."] ],
                    "look_at_text":"I wonder where this came from?",
                    "inv_look_at_text":"Nice and ripe."
                }'></div>                
                
        <!-- HOUSE -->
                <div class="JAG_Item s5_house" data-item='{
                  "image":"house",
                  "pos":"72.25,7.65", 
                    "type":"layer", 
                    "text":"house", 
                    "look_at_text":"I might be able to get<br/> there from the jungle.",
                    "proximity":"150"
        }'></div>

                <!-- EXITS -->
                <div class="JAG_Item s5_exit1" data-item='{"type":"exit", "pos":"0,60", "goto":"scene4", "text":"Back to Jungle", "next_image":"guybrush_still_left", "next_pos":"75,75"}'></div>
                <div class="JAG_Item s5_exit2" data-item='{"type":"exit", "pos":"45,52", "goto":"scene6", "text":"Enter Sea Dwelling", "look_at_text":"It appears as if someone carved a <br/>home into the sea rock."}'></div>
            </li> 
            
            