        <!-- **************************************** -->
        <!-- SCENE 13 [ BENEATH THE JAIL ] -->  
        <!-- **************************************** -->                                           
        <li id="scene13" data-scene='{
              "horizon":"0,100", 
                "music":"bones",
                "background":"13"}'>
                
                <!-- MAIN CHARACTER -->
              <div class="JAG_Char" data-character='{
                  "scale":"0.5,0.5", 
                    "speed":7000
        }'></div>
                
        <!-- SKULL -->
        <div class="JAG_Item" data-item='{
          "type":"object", 
                    "pos":"35,50", 
                    "text":"skull",
                    "image":"skull",
                    "proximity":"150", 
                    "scale":"0.5", 
                    "pick_up":[
                      ["say:It appears to be human."]
                    ],
                    "inv_look_at_text":"You never know when you&apos;ll need another one."
                }'></div>                  

                <!-- EXIT -->
                <div class="JAG_Item s13_exit1" data-item='{"type":"exit", "pos":"25,0", "goto":"scene9", "text":"Jail Cell", "next_image":"guybrush_still_left", "next_pos":"45,75", "exit_style":"false,true"}'></div>
      </li>    