<!--****************************************************** -->
<!-- INITIAL TEASER TEXT -->
<!--****************************************************** -->
    <div id="teaser_container">
        <img src="Jaguar/chars/guybrush_open_right.gif">
        <h1>Turn yer speakers up and <br/> click to begin yer Adventure!</h1>
    </div>  